<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />

<head>
<title>Add new answer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h2>Add new answer</h2>

	<form action="#" th:action="@{saveanswer}" th:object=${answer} method="post">


		<label>Question: </label><input type="text" th:field="${question.questionName}" /> 
		<label>Survey: </label><select th:field="*{survey}">
			<option th:each="survey: ${surveys}" th:value="${survey.surveyId}" th:text="${survey.surveyName}"></option>
		</select> 
		<input type="submit" value="Submit"/>
		
	</form>
	<button onClick="history.go(-1)">Return</button>


</body>
</html>
