<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />

<head>
<title>Add new question</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h2>Add new question</h2>

	<form action="#" th:action="@{savequestion}" th:object=${question} method="post">


		<label>Question: </label><input type="text" th:field="${question.question}" /> 
		<label>Form: </label><select th:field="*{form}">
			<option th:each="form: ${form}" th:value="${form.formId}" th:text="${form.formName}"></option>
		</select> <input type="submit" value="Submit" class="btn btn-success" />
		<button href="/forms">Return</button>
	</form>


</body>
</html>
