<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h2>Edit question</h2>
	<div>
	<form action="#" th:action="@{/savequestion}"  th:object= ${question} method="post">
	<input type="hidden" th:field="${question.questionId}"/>
	<label>Question: </label><input type="text" th:field="${question.questionName}" /> 
	<label>Survey: </label>
	<select th:field="*{survey}">
		<option th:each="survey: ${survey}" th:value="${survey.surveyId}" th:text="${survey.surveyName}">
	</select>
	<input type="submit" value="Submit"/>

	</form>
</div>
	
</body>
</html>