<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Questions</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>Questions</h1>

	<table>
		<tr>
			<th>Questions</th>
		</tr>
		<tr th:each="question : ${questions}">
			<td th:text=${question.questionName}></td>
			<td><a th:href="@{/survey/{surveyId}/{questionId} (surveyId=${question.survey.surveyId}, questionId=${question.questionId})}">Show options</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editquestion/{questionId}(questionId=${question.questionId})}">Edit</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletequestion/{questionId}(questionId=${question.questionId})}">Delete</a></td>


		</tr>

	</table>

	<button onClick="history.go(-1)">Return</button>

</body>
</html>