<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<title>Surveys</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Surveys</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<h1>Surveys</h1>



<a  sec:authorize="hasAuthority('ADMIN')" href="/addsurvey">Add new survey</a>
<a sec:authorize="hasAuthority('ADMIN')" href="/addquestion">Add new question</a>
<a sec:authorize="hasAuthority('ADMIN')" href="/addoption">Add new option</a>


	<table style="padding: 20px">
		<tr>
			<th>Surveys</th>
			<th>Explanation</th>
		</tr>

		<tr th:each="survey : ${surveys}">
			<td th:text=${survey.surveyName}></td>
			<td th:text=${survey.explanation}></td>




	<td><a th:href="@{/survey/{surveyId}(surveyId=${survey.surveyId})}">Show questions</a></td>
	<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editsurvey/{surveyId}(surveyId=${survey.surveyId})}">Edit</a></td> 
	<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletesurvey/{surveyId}(surveyId=${survey.surveyId})}">Delete</a></td>


		</tr>

	</table>

</body>
</html>